.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 70%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-left: 200px;
    }

    /* Modal Content */
    .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }

    /* The Close Button */
    .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close2:hover,
    .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 70%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-left: 200px;
    }

    /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }

    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
   
    #myBtn{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 31px;
    }
    #myBtn2{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 31px;
    }
    #signintext{
        text-align: center;
    }
    
    body{
    background-image: url("adult - Copy.jpg");
    margin: 0px;
    padding: 0px;
    opacity: 0.9;
    }
    .header{
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    width: auto;
    background-image: linear-gradient(to bottom, #070301, #171514, #222020, #2e2c2c, #3a3939);
    }